.hero-container {
  position: absolute;
  height: 100vh;
  background-position: center;
  background-size: cover;
}

.hero-background {
  background-image: url("../../images/hero-image.jpg");
}

.hero-background-admin {
  background-color: blue;
}

.hero {
  background-color: rgba(0, 0, 0, 0.61);
  height: 100%;
  width: 100%;
  text-align: center;
}

@keyframes move-text-up {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 100;
    transform: translateY(0px);
  }
}

.hero h2 {
  font-size: 3.2em;
  margin-bottom: 20px;
  animation: move-text-up 1s;
}

.hero-text {
  width: 900px;
  position: absolute;
  top: 100px;
}

.hero p {
  font-size: 1.3em;
  animation: move-text-up 1s;
  animation-delay: 0.5s;
  animation-fill-mode: both;
}

.weather{
  position: absolute;
  left: 100px;
}


.potd{
  position: absolute;
  top: 180px;
  right: 100px;
}
