/* @keyframes dropdown-open {
  0% {
    opacity: 0;
    transform: translateY(-120px);
    display: none;
  }

  100% {
    opacity: 100;
    transform: translateY(0px);
  }
}

@keyframes dropdown-close {
  0% {
    opacity: 100;
    transform: translateY(0px);
  }

  100% {
    opacity: 0;
    transform: translateY(-120px);
  }
} */

.nav-container {
  width: 100vw;
  padding: 5px 0px;
  position: absolute;
  z-index: 10;
  top: 20px;
}

nav {
  margin: 0 auto;
  display: flex;
  padding: 10px 0px;
}

nav ul {
  list-style: none;
}

nav li {
  display: inline;
  margin: 20px;
  font-weight: 600;
  color: white;
  cursor: pointer;
  transition: 0.3s ease;
}

nav li:hover {
  opacity: 0.6;
}

.nav-search {
  margin-left: auto;
  margin-right: 30px;
}

.nav-search-input {
  margin: 0;
  background-color: transparent;
  color: white;
  padding: 9px 10px !important;
  width: 150px !important;
  transition: 0.3s ease;
}

.nav-search-input:focus {
  width: 300px !important;
}

.nav-login-button {
  padding: 10px 30px !important;
}

.nav-search-input::placeholder {
  color: rgb(241, 241, 241);
}

.nav-button-list {
  margin-right: 0px;
  margin-left: 20px;
}

nav img {
  width: 110px;
}

.user-cred {
  font-weight: 600;
  margin-left: 30px;
}

.profile-pic {
  background-image: url("../../images/no-profile-pic.jpg");
  background-size: cover;
  width: 30px;
  height: 30px;
  border-radius: 100px;
  margin-left: 10px;
  cursor: pointer;
}

.nav-dropdown-container {
  width: 100vw;
}

.nav-dropdown-container {
  margin: 0 auto;
  transition: 0.3s ease !important;
  overflow: hidden;
  background-color: reds;
  transition: 0.3s ease !important;
}

.nav-dropdown-wrapper {
  transition: all 0.3s ease !important;
  overflow: hidden;
}

.dropdown {
  background-color: white;
  width: fit-content;
  float: right;
  border-radius: 5px;
  transition: all 0.6s ease-in-out !important;
  overflow: hidden;
  padding: 10px 0px;

  /* animation: dropdown-open 0.3s ease;
  animation-fill-mode: backwards; */
}

.dropdown-open {
  transform: translateY(0px);
  opacity: 1;
}

.dropdown-close {
  opacity: 0;
  transform: translateY(-210px);
}

.hide {
  display: none;
}

.dropdown ul {
  list-style: none;
}

.dropdown-close ul {
  list-style: none;
}

.logout {
  font-weight: 600 !important;
  color: #1f34e9 !important;
  margin-bottom: -5px !important;
}

/* .logout:hover {
  /* background-color: rgb(255, 94, 94) !important; */
/* color: white; */

.fa-dropdown {
  margin-right: 15px;
}

.dropdown li {
  padding: 8px 50px 8px 20px;
  cursor: pointer;
  transition: 0.3s ease;
  font-weight: 400;
}

.dropdown li:hover {
  background-color: rgb(231, 231, 231);
}

.admin-badge {
  color: rgb(86, 230, 255);
  font-weight: 700;
  margin-left: 10px;
}

.dropdown-divider {
  border-bottom: 1px solid rgb(219, 219, 219);
  margin-top: 20px;
  margin-bottom: 5px;
}

.dropdown-divider:hover {
  background-color: transparent !important;
  cursor: default !important;
}

.fa-angle-down {
  margin-left: 5px;
  font-size: 0.7em;
  opacity: 0.8;
}
